extends layout

block content
	h1 Convert a web page to a MS Word document
	form(method="get", action="/api/v1/docx")
		label(for="url")
			Which page?
		input(type="text", id="url", name="url", placeholder="Enter a URL"f)
		input(type="submit", value="Convert")
